@model List<Urun>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<table>
    <tr>
        <th>Hesaplar</th>
    </tr>
    @for (int i = 0; i <Model.Count; i++)
    {
        <tr>
            <td>
                @Model
            </td>
        </tr>
    }
    
</table>
