@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4">Cafemize Hoşgeldiniz</h1>
<div class="btnn">
    
    <input class="btn btn1"type="button" onClick="location.href='https://localhost:5001/cafe/yiyecek'" value="Menümüze buradan giriş yapabilirsiniz." />
</div>


<link href="~/css/site.css" rel="stylesheet" />